@font-face {
    font-family: Iceland;
    src: url(/code/source/Iceland/Iceland-Regular.ttf);
}

@font-face {
    font-family: PT Mono;
    src: url(/code/source/PT_Mono/);
}

.button_zakaz{
    background-color: black;
    text-align: center;
    color: white;
}

.monday{
    font-size: 128px;
    font-family: Iceland;
    margin-top: 200px;
    margin-bottom: 0px;
    animation-name: exw;
    animation-duration: 1.5s;
} 

@keyframes exw {
	0%{
		margin-left: 0;
	}
	50%{
		margin-left: 100px;
	}
	100%{
		margin-left: 0;
	}
}

h2{
    font-size: 36;
    font-family: PT Mono;
    margin-left: 8px;
}

h3{
    font-family: PT Mono; 
    font-size: 18px;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.button_zakaz{
    width: 300px;
    height: 44px;
    margin-left: 8px;
    font-size: 30px;
    font-family: PT Mono;
    padding-bottom: 2px;
    border-radius: 20px;
}

.img_product{
    width: 50%;
}

.black{
    height: 1000px;
    width: 100%;
    background-color: black;
}

.map{
    height: 1200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
}

.face{
    height: 800px;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#foto1, #foto2, #text_foto, #network, #icon{
    position: relative;
}

#foto2{
    top: -2500px;
}

.white_text{
    color: white;
    text-align: end;
    margin-right: 6%;
}

#text_foto{
    top: -3000px;
}

#network{
    top: -1400px;
}

#icon{
    top: -3200px;
}

.net{
    height: 1200px;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-top: 5%;  
    transform: rotateX(54.7356103deg) rotateY(0deg) rotateZ(45deg); 

}

.icon_net{
    height: 500px;
    margin-left: 400px;
}

.iot_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 300px;
}

.iot_text1{
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.iot_text2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-left: 50px;
    margin-right: 50px;
    

}

#security{
    text-align: center;
    font-size: 20px;
    
}

.video{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 0;
}

.home1{
    margin-top: 0;
    align-items: flex-end;
    height: 100%;
}

.gadget1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.contact{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    font-family: Iceland;
    margin-top: 300px;
    width: 70%;
}

.input{
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(217, 217, 217);
    height: 40px;
    font-family: Iceland;
    font-size: 20px;
    padding-left: 20px;
    
}

#contact{
    margin-bottom: 0;
    font-size: 80px;
}

.button{
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: Iceland;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    border: 2px solid #000000;
    padding-bottom: 10px;
    

}

.logo{
    height: 30px;
    margin-right: 10px;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.product-card{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover{
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img{
    max-width: 100%;
    max-height: 100%;
}

.product-details h4 a{
    color: #000000;
    font-weight: 500;
    font-family: PT Mono;
    display: block;
    text-decoration: none;
    margin-left: 20px;
}

.product-details p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    font-family: PT Mono;
    margin-left: 20px;
}

.product-bottom-details{
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-price{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}

.product-price small{
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
    margin-left: 5px;
}

.product-links a{
    font-size: 20px;
    margin-left: 10px;
}

#bag{
    height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.home1{
    width: 30%;
}

#monday{
    font-family: Iceland;
    font-size: 40px;
}

#shop{
    font-family: Iceland;
    font-size: 30px;
}

.logo-user{
    width: 30px;
}

#card{
    width: 30px;
    margin-bottom: 18px;
}

img{
    max-width: 100%;
    height: auto;
}

.navbar-nav .navbar-nav .dropdown-menu{
    right: 0;
    left: auto;

}

.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .5s;
    transform: scale(0);
}

.top-menu li a:hover:after{
    transform: scale(1);
}

.icon-footer{
    height: 30px;
    margin-right: 50px;
}

.footer-site{
    text-decoration: none;
    color: #000000;
    margin-right: 50px;
}

.build{
    width: 50%;
}

.sign-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form{
    margin-top: 300px;
    margin-right: 50px;
    margin-left: 50px;
}

#contact{
    font-family: Iceland;
}

#qwerty{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.polosa{
    height: 1px;
    background-color: #000000;
}

@media (max-width: 576px) {

}


@media (max-width: 768px) {

}


@media (max-width: 992px) {
    .product{
        flex-direction: column;
        justify-content: space-around;
    }
    .monday{
        margin-top: 50px;
    }
    .gadget1{
        flex-direction: column;
        justify-content: space-around;
    }
    .gadget{
        width: 100%;
    }
    .contact{
        margin-top: 50px;
    }
    .sign-in{
        flex-direction: column;
        justify-content: space-around;
    }
    .form{
        margin-top: 50px;
    }
    .build{
        width: 100%;
    }
    .button{
        margin-bottom: 50px;
    }
}

@media (max-width: 1200px) {

}
